@{


    ViewData["Title"] = "User";
    var user = Context.User;
}


<div class="container">
    <div class="row">
        <div class="col-md-12">
            <h1>User</h1>
            <p>@user 
            Welcome to the User page.</p>
        </div>
    </div>
</div>
