@{


    ViewData["Title"] = "User";
    var user = Context?.User;
}


<div class="container">
    <div class="row">
        <div class="col-md-12">
            <h1>User</h1>
        </div>
    </div>
    @if (user.Identity.IsAuthenticated)
    {
        <p>You are logged in as @user.Identity.Name</p>
        <a asp-controller="User" asp-action="Logout">Logout</a>
    }
    else
    {
        <p>You are not logged in.</p>
        <a asp-controller="User" asp-action="Login">Login</a>
    }
    <a asp-controller="User" asp-action="Register">Register</a>
</div>

