@{
    ViewData["Title"] = "Students";
}

<h1>Students</h1>

<ul id="students">
    @foreach (var student in Model)
    {
        <li>
            <div class="@(student.degree < 50 ? "red" : "green")">
                <h5>@student.name</h5>
                <p>age :@student.age</p>
                <p>email :@student.email</p>
                <p>degree :@student.degree</p>
                <p>@(student.degree <50 ? "failed": "passed") </p>
            </div>
        </li>
    }
  <style>
    .red {
        background-color: red;
    }
    .green {
        background-color: green;
    }
    .red, .green {
        color: white;
        padding: 10px;
        margin: 10px;
        border-radius: 5px;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }
    .red p, .green p {
        margin: 0;
        width: 20%;
    }
    .red h5, .green h5 {
        margin: 0;
        width: 30%;
    }
  </style>
<a asp-action="add">Create</a>
</ul>
